#outer-box {
  background-color: purple;
}
.box {
  background-color: blue;
  padding: 10px;
}
.yellow-text {
  color: yellow;
  margin: 0%;
  padding: 0%;
}
.white-text {
  color: white;
  margin: 0%;
  padding: 0%;
}
.inner-box {
  background-color: red;
}
